@font-face {
  font-family: 'Digital-7';
  src: url('../../assets/fonts/Digital-7.ttf') format('truetype');
}

.time {
  font-size: 10rem;
  line-height: 10rem;
  text-align: center;
}
.group_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 1rem;
}

.list_data {
  margin-top: 24px;
}
.circle {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .time {
    font-size: 80px;
  }
  .circle {
    width: 80%;
    .circle_title {
      font-size: 20px;
    }
  }
}
