@use '../../assets/styles/variables.module' as v;
.button {
  border: none;
  height: 100%;
  padding: 0 16px;
  border-radius: 12px;
  background-color: transparent;
  // padding: 0 8px;
  &:hover {
    cursor: pointer;
    background-color: #cdd6e1;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
.dark {
  &:hover {
    background-color: #2d2f36;
  }
  svg {
    color: v.$dark-primary-heading-text-color;
  }
}
