$light-primary-bg-color: #f2f7ff;
$light-primary-heading-text-color: #394e6a;
$light-primary-text-color: #5e6f88;
$light-secondary-text-color: #004fc4;
$dark-primary-bg-color: #232323;
$dark-primary-heading-text-color: #c8cbd0;
$dark-primary-text-color: #a1a4a9;
$dark-secondary-text-color: #004fc4;
